.book_card{
    width: 212px;
    padding: 1rem;
    border-radius: 28px;
    background-color: var(--secondary-color);
    object-fit: cover;
    img{
        width: 180px;
        height: 270px;
        border-radius: 20px;
    }
    h3{
        color: var(--accent-color);
        font-size: medium;
    }
    span{
        font-size: small;
        font-weight: 100;
    }
}